.font-micro {
    font-size: 0.750rem;
}

.font-small {
    font-size: 0.875rem;
}

.font-medium {
    font-size: 1rem;
}

.font-large {
    font-size: 1.125rem;
}

.font-xlarge {
    font-size: 1.250rem;
}

.font-logo {
    font-size: 2rem;
}

.font-bold {
    font-weight: 700;
}

.font-white {
    color: #fff;
}

.font-black {
    color:#000;
}

.font-family {
    font-family: sans-serif;
}

.font-family-bold {
    font-family: sans-serif;
    font-weight: bold;
}