.margin-micro {
    margin: 0.500rem;
}
.margin-small {
    margin: 0.750rem;
}
.margin-medium {
    margin: 1rem;
}
.margin-large {
    margin: 1.250rem;
}
.margin-xlarge {
    margin: 1.500rem;
}
.margin-zero {
    margin: 0;
}
.margin-top-micro {
    margin-top: 0.500rem;
}
.margin-top-small {
    margin-top: 0.750rem;
}
.margin-top-medium {
    margin-top: 1rem;
}
.margin-top-large {
    margin-top: 1.250rem;
}
.margin-top-xlarge {
    margin-top: 1.500rem;
}
.margin-top-zero {
    margin-top: 0;
}
.margin-bottom-micro {
    margin-bottom: 0.500rem;
}
.margin-bottom-small {
    margin-bottom: 0.750rem;
}
.margin-bottom-medium {
    margin-bottom: 1rem;
}
.margin-bottom-large {
    margin-bottom: 1.250rem;
}
.margin-bottom-xlarge {
    margin-bottom: 1.500rem;
}
.margin-bottom-zero {
    margin-bottom: 0;
}
.margin-left-micro {
    margin-left: 0.500rem;
}
.margin-left-small {
    margin-left: 0.750rem;
}
.margin-left-medium {
    margin-left: 1rem;
}
.margin-left-large {
    margin-left: 1.250rem;
}
.margin-left-xlarge {
    margin-left: 1.500rem;
}
.margin-left-zero {
    margin-left: 0;
}
.margin-right-micro {
    margin-right: 0.500rem;
}
.margin-right-small {
    margin-right: 0.750rem;
}
.margin-right-medium {
    margin-right: 1rem;
}
.margin-right-large {
    margin-right: 1.250rem;
}
.margin-right-xlarge {
    margin-right: 1.500rem;
}
.margin-right-zero {
    margin-right: 0;
}
.margin-vert-micro {
    margin-top: 0.500rem;
    margin-bottom: 0.500rem;
}
.margin-vert-small {
    margin-top: 0.750rem;
    margin-bottom: 0.750rem;
}
.margin-vert-medium {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-vert-large {
    margin-top: 1.250rem;
    margin-bottom: 1.250rem;
}
.margin-vert-xlarge {
    margin-top: 1.500rem;
    margin-bottom: 1.500rem;
}
.margin-vert-zero {
    margin-top: 0;
    margin-bottom: 0;
}
.margin-horiz-micro {
    margin-left: 0.500rem;
    margin-right: 0.500rem;
}
.margin-horiz-small {
    margin-left: 0.750rem;
    margin-right: 0.750rem;
}
.margin-horiz-medium {
    margin-left: 1rem;
    margin-right: 1rem;
}
.margin-horiz-large {
    margin-left: 1.250rem;
    margin-right: 1.250rem;
}
.margin-horiz-xlarge {
    margin-left: 1.500rem;
    margin-right: 1.500rem;
}
.margin-horiz-zero {
    margin-left: 0;
    margin-right: 0;
}
