.padding-micro {
    padding: 0.500rem;
}
.padding-small {
    padding: 0.750rem;
}
.padding-medium {
    padding: 1rem;
}
.padding-large {
    padding: 1.250rem;
}
.padding-xlarge {
    padding: 1.500rem;
}
.padding-zero {
    padding: 0;
}
.padding-top-micro {
    padding-top: 0.500rem;
}
.padding-top-small {
    padding-top: 0.750rem;
}
.padding-top-medium {
    padding-top: 1rem;
}
.padding-top-large {
    padding-top: 1.250rem;
}
.padding-top-xlarge {
    padding-top: 1.500rem;
}
.padding-top-zero {
    padding-top: 0;
}
.padding-bottom-micro {
    padding-bottom: 0.500rem;
}
.padding-bottom-small {
    padding-bottom: 0.750rem;
}
.padding-bottom-medium {
    padding-bottom: 1rem;
}
.padding-bottom-large {
    padding-bottom: 1.250rem;
}
.padding-bottom-xlarge {
    padding-bottom: 1.500rem;
}
.padding-bottom-zero {
    padding-bottom: 0;
}
.padding-left-micro {
    padding-left: 0.500rem;
}
.padding-left-small {
    padding-left: 0.750rem;
}
.padding-left-medium {
    padding-left: 1rem;
}
.padding-left-large {
    padding-left: 1.250rem;
}
.padding-left-xlarge {
    padding-left: 1.500rem;
}
.padding-left-zero {
    padding-left: 0;
}
.padding-right-micro {
    padding-right: 0.500rem;
}
.padding-right-small {
    padding-right: 0.750rem;
}
.padding-right-medium {
    padding-right: 1rem;
}
.padding-right-large {
    padding-right: 1.250rem;
}
.padding-right-xlarge {
    padding-right: 1.500rem;
}
.padding-right-zero {
    padding-right: 0;
}
.padding-vert-micro {
    padding-top: 0.500rem;
    padding-bottom: 0.500rem;
}
.padding-vert-small {
    padding-top: 0.750rem;
    padding-bottom: 0.750rem;
}
.padding-vert-medium {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-vert-large {
    padding-top: 1.250rem;
    padding-bottom: 1.250rem;
}
.padding-vert-xlarge {
    padding-top: 1.500rem;
    padding-bottom: 1.500rem;
}
.padding-vert-zero {
    padding-top: 0;
    padding-bottom: 0;
}
.padding-horiz-micro {
    padding-left: 0.500rem;
    padding-right: 0.500rem;
}
.padding-horiz-small {
    padding-left: 0.750rem;
    padding-right: 0.750rem;
}
.padding-horiz-medium {
    padding-left: 1rem;
    padding-right: 1rem;
}
.padding-horiz-large {
    padding-left: 1.250rem;
    padding-right: 1.250rem;
}
.padding-horiz-xlarge {
    padding-left: 1.500rem;
    padding-right: 1.500rem;
}
.padding-horiz-zero {
    padding-left: 0;
    padding-right: 0;
}
